<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="bg-container forgot-container forgot-bg">

    <div class="auth-container">
        <div class="auth-row justify-content-center align-items-center vh-100">
            <div class="auth-col-md-4">
                <div class="auth-card shadow">
                    <div class="card-body">
                        <h4 class="text-center mb-4">🔐 Reset Password</h4>

                        <div id="msg" class="mb-2"></div>

                        <form id="forgotForm" action="/auth/forgot-password">
                            <div class="mb-3">
                                <label for="email">Registered Email</label>
                                <input type="email" id="email" class="form-control" placeholder="Enter email" required>
                            </div>
                            <button type="submit" class="btn btn-warning w-100">Send OTP</button>
                        </form>

                        <div id="resetDiv" style="display:none;" class="mt-3">
                            <div class="mb-3">
                                <label for="otp">OTP</label>
                                <input type="text" id="otp" class="form-control" placeholder="Enter OTP">
                            </div>
                            <div class="mb-3">
                                <label for="newPassword">New Password</label>
                                <input type="password" id="newPassword" class="form-control" placeholder="New Password">
                            </div>
                            <button id="resetBtn" class="btn btn-success w-100">Reset Password</button>
                        </div>

                        <div class="text-center mt-3">
                            <a href="{{ url_for('pages.login_page') }}">Back to login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>

</body>

</html>